<% @title="Inscription" %>

<div class="container card ">
  <h2 class="bold-semibold Text-2xl mt-10">Créer votre compte</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
     <!-- First name -->
    <div class="field">
      <label class="label">Nom:</label>
      <div class="control">
        <%= f.text_field :first_name, placeholder:"votre nom ...", class:"input rounded-md mx-auto" %>
      </div>
    </div>
  <!-- Last name  -->
    <div class="">
      <label class="label">Prénom:</label>
      <div class="control">
        <%= f.text_field :last_name, placeholder:"Votre Prénom ...", class:"input rounded-md" %>
      </div>
    </div>
    <!-- N° matricule -->
    <div class="">
      <label class="label">N° Matricule:</label>
      <div class="control">
        <%= f.text_field :matricule, placeholder:"N° Matricule ...",  class:"input rounded-md" %>
      </div>
    </div>
    <!-- N° whatsapp  -->
    <div class="">
      <label class="label">N° WhatsApp:</label>
      <div class="control">
        <%= f.telephone_field :contact, placeholder:"N° WhatsApp ...", class:"input rounded-md" %>
      </div>
    </div>
    
    
    <div class="columns">
      <!-- City name -->
      <div class="column">
        <label class="label">La ville:</label>
          <div class="select is-rounded">
            <%= f.select :city_name, @city_ereas.map{|city_erea| [city_erea.title]},  placeholder:"Tle A1 , A2 ou D ...", class:"input rounded-md" %>
          </div>
        
      </div>
      <!--Level name -->
      <div class="column mx-2 ">
        <label class="label">La Tle:</label>
          <div class="select is-rounded">
            <%= f.select :level_name, @levels.map{|level| [level.title]},  placeholder:"Tle A1 , A2 ou D ...", class:"input rounded-md" %>
          </div>
      </div>
    </div>
    
    <!-- Role -->
    <%= f.hidden_field :status, value:"Student" %>  
    <!-- N° matricule -->
    <div class="mb-2">
      <label class="label">Etablissement:</label>
      <div class="control">
        <%= f.text_field :school_name, placeholder:"Etablissement ...",  class:"input rounded-md" %>
      </div>
    </div>
    <!-- Terms -->
    <div class="field mt-4">
      <div class="control">
        <label class="checkbox">
        <%= f.check_box :terms , checked: true%>
          Accepter les <%= link_to 'termes', "#", class:"no-underline font-semibold" %> et <%= link_to "Conditions d'utilisation", "#", class:"font-semibold" %>
        </label>
      </div>
    </div>
    <!-- Gender -->
    <div class="field">
      <p class="">Je suis :</p>
      <div class="control">
        <label class="radio" >
        <%= f.radio_button :gender, :Femme, checked: true %>
        Une Femme
        </label>
        <label class="radio">
        <%= f.radio_button :gender, :Homme %>     
        Un Homme
        </label>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Créer le compte" , class:"button is-info mb-10" %>
    </div>

  <% end %>
    
</div>