
<% @title="Accueil" %>

 <!-- ====== Navbar Section Start -->
    <%= render "welcome/shared/navbar" %>
<!-- ====== Navbar Section End -->

 <!-- ====== Hero Section Start -->
    <%= render "welcome/shared/hero" %>
<!-- ====== Hero Section End -->

 <!-- ====== Features Section Start -->
    <%= render "welcome/shared/feature" %>
 <!-- ====== Features Section End -->

<!-- ====== About Section Start -->
    <%= render "welcome/shared/about" %>
<!-- ====== About Section End -->

<!-- ====== Pricing Section Start -->
    <%= render "welcome/shared/pricing" %>
<!-- ====== Pricing Section End -->

<!-- ====== Faq Section Start -->
    <%= render "welcome/shared/faq" %>
<!-- ====== Faq Section End -->

<!-- ====== Testimonials Start ====== -->
    <%= render "welcome/shared/testimonial" %>
<!-- ====== Testimonials End ====== -->

<!-- ====== Teams Start ====== -->
    <%= render "welcome/shared/team" %>
<!-- ====== Teams End ====== -->

<!-- ====== Contact Start ====== -->
    <%= render "welcome/shared/contact" %>
<!-- ====== Contact End ====== -->

<!-- ====== Footer Start ====== -->
    <%= render "welcome/shared/footer" %>
<!-- ====== Footer End ====== -->

 <!-- ====== Back To Top Start -->
    <a
      href="javascript:void(0)"
      class=" hidden items-center justify-center bg-primary text-white w-10 h-10 rounded-md fixed bottom-8 right-8 left-auto z-[999] hover:bg-dark back-to-top shadow-md transition duration-300 ease-in-out">
      <span
        class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"
      ></span>
    </a>
    <!-- ====== Back To Top End -->
